<h2>Meeting the Scribes of the Cairo Geniza Project Team: Who are the #GenizaScribes?</h2>
<script src="https://cdnapisec.kaltura.com/p/1449362/sp/144936200/embedIframeJs/uiconf_id/14292362/partner_id/1449362"></script>
<div id="kaltura_player_1621444164" style="width: 720px; height: 441px;"></div>
<script>
kWidget.embed({
  "targetId": "kaltura_player_1621444164",
  "wid": "_1449362",
  "uiconf_id": 14292362,
  "flashvars": {},
  "cache_st": 1621444164,
  "entry_id": "1_7689461c"
});
</script>

<h2>Platforms for People-Powered Research: From the Technical Side: Responding to Researcher Needs</h2>
<script src="https://cdnapisec.kaltura.com/p/1449362/sp/144936200/embedIframeJs/uiconf_id/14292362/partner_id/1449362"></script>
<div id="kaltura_player_1621444219" style="width: 720px; height: 441px;"></div>
<script>
kWidget.embed({
  "targetId": "kaltura_player_1621444219",
  "wid": "_1449362",
  "uiconf_id": 14292362,
  "flashvars": {},
  "cache_st": 1621444219,
  "entry_id": "1_w2r5byk1"
});
</script>
