 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}.jpg" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                               <ul class="list-inline item-details">
                                <li>Partners:
                                    <strong>{{ post.partners }}</a>
                                    </strong>
                                </li>
                                <li>Image Courtesy of:
                                    <strong>{{ post.courtesy }}</a>
                                    </strong>
                                </li>
                             
                            </ul>
                            
                            <button type="button" class="btn btn-xl" data-dismiss="modal">Visit the Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
