 <!-- Portfolio Modals -->

  {% for member in site.people %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ member.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
     
            <div class="container">
	                  

                <div class="row">
	                <p> Judaica DH is a partnership between The Kislak Center for Special Collections, Rare Books and Manuscripts and the Digital Scholarship Group at the Penn Libraries. </p>
	                 
                    <div class="col-lg-8 col-lg-offset-2">
	             
	         <div class="modal-body">
		         
                            <h2>{{ member.name }}</h2>
                            <hr class="star-primary">
                            <p>{{ member.bio }}</p>
                         
                         
                         <!--   <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul> -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
