<article class="people-main-content">
    <!-- staff: -->
		<section class="people__staff">
			<h2 style="padding-left: 2em; padding-top: 1em; margin-bottom: 0;">CURRENT PROJECTS</h2>
      <!-- section label: -->
      <div class="people-staff__gallery">
        <!-- gallery item: -->
        {% for project in site.work %}
				{% if project.status == 'current' %}
        <div class="people-item-wrapper">
          <a href="/work/{{ project.slug }}/" aria-label="{{ project.title }}">
            <div class="people-item__img">

            <img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">

            </div>
            <div class="people-item__name">
{{ project.title | replace: ' - ', ': ' }}
</div>
            <div class="people-item__position">{{ project.position }}</div>
          </a>
        </div>
				{% endif %}
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end staff -->

		<section class="people__staff" id="student-projects-archive">
			<!-- section label: -->
			<h2 style="padding-left: 2em; padding-top: 1em; margin-bottom: 0;">LEGACY PROJECTS</h2>
			<div class="people-staff__gallery">
				<!-- gallery item: -->
				
				{% for project in site.work %}
				{% if project.status == 'legacy' %}

				<div class="people-item-wrapper">
					<a href="/work/{{ project.slug }}/" aria-label="{{ project.title }}">
						<div class="people-item__img">

						<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">

						</div>
						<div class="people-item__name">
	{{ project.title | replace: ' - ', ': ' }}
	</div>
						<div class="people-item__position">{{ project.position }}</div>
					</a>
				</div>
				{% endif %}
				{% endfor %} <!-- end item -->
			</div> <!-- end gallery -->
		</section> <!-- end staff -->

		<section class="people__staff" id="student-projects-archive">
			<!-- section label: -->
			<h2 style="padding-left: 2em; padding-top: 1em; margin-bottom: 0;">INITIATIVES</h2>
			<div class="people-staff__gallery">
				<!-- gallery item: -->
				
				{% for project in site.work %}
				{% if project.status == 'initiative' %}
				<div class="people-item-wrapper">
					<a href="/work/{{ project.slug }}/" aria-label="{{ project.title }}">
						<div class="people-item__img">

						<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">

						</div>
						<div class="people-item__name">
	{{ project.title | replace: ' - ', ': ' }}
	</div>
						<div class="people-item__position">{{ project.position }}</div>
					</a>
				</div>
				{% endif %}
				{% endfor %} <!-- end item -->
			</div> <!-- end gallery -->
		</section> <!-- end staff -->