<!-- Team Section -->

    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Our Team</h2><br>
                    <h4>Judaica DH is a partnership between The Kislak Center for Special Collections, Rare Books and Manuscripts and the Digital Scholarship Group at the Penn Libraries.</h4>
                    <hr>
                    
                </div>
            </div>
             
                <div class="row">
           {% for member in site.people %}
                <div class="col-sm-4">
	                    
                    <div class="team-member">
  <img src="../img/people/{{ member.pic }}.jpg" class="img-responsive img-circle img-thumbnail" alt="">
	                                           <h4>{{ member.name }}</h4>
                        <p class="text-muted" style="text-align: center">{{ member.position }}</p>
                         <!-- <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> -->
                       <a href="#portfolioModal{{ member.modal-id }}" class="portfolio-link" data-toggle="modal">
	                         <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                
                            </div>
                            
                        </div>
                       
                      
 <i class="fa fa-chevron-down fa-2x" data-toggle="modal"></i>
	                   </a>

                    </div>
                       
                </div>          
     
              {% endfor %} 
            </div>
                                 
             
              
              <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>
  