	<section>
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		

    <script src="assets/typeahead-0.10.2/typeahead.bundle.min.js"></script>
    <script src="assets/handlebars-1.3.0/handlebars.js"></script>
    <script src="assets/list-1.1.1/list.min.js"></script>
    <script src="assets/leaflet-0.7.3/leaflet.js"></script>
    <script src="assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
    <script src="assets/leaflet-activearea/L.activearea.js"></script>
    <script src="assets/leaflet-sidebar-0.1.5/L.Control.Sidebar.js"></script>
    <script src="assets/leaflet-markercluster-0.4.0/leaflet.markercluster.js"></script>
    <script src="assets/leaflet-locatecontrol-0.27.0/L.Control.Locate.js"></script>
    <script src="assets/js/app.js"></script>
	<script src="/assets/Leaflet.MarkerCluster.PlacementStrategies-master/dist/leaflet-markercluster.placementstrategies.src.js"></script>

	   <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>



	</section>
